[% INCLUDE "include/header.tt" %]

<h1>アクティビティ数ランキング</h1>
アクティビティ数とは、ブロック等を設置除去するたびに<br>
カウントされていきます<br>
<br>
<table border="1" cellpadding="5" cellspacing="0">
<tr>
<th>プレイヤー名</th>
<th>アクティビティ数</th>
</tr>
[% FOR ranking in rankings %]
<tr>
<td>[% ranking.player %]</td>
<td>[% ranking.activity %]</td>
</tr>
[% END %]
</table>
